In [1]:
/****************************************************************************
* File name: empirical_exercise2.do
* Author(s): Sze, J.
* Date: 2/7/2019
* Description: 
* Answers to empirical exercise 2 for Labor Economics
*
* Inputs: 
* ..\input_data\CPS Data for Minimum Wages, 1985-1996.dta" 
* 
* Outputs:
* 
***************************************************************************/

In [2]:
use "..\input_data\CPS Data for Minimum Wages, 1985-1996.dta",clear

(CPS Basic Monthly Files with ORG Questions, Civilians Ages 15+, 1976-2018)

### A. Explore the Data
Get a sense of the data by (a) describing the data set, (b) summarizing
the data without and with the weighting variable pweight, and (c) tabulating (without
weights) the categorical variables. Also, compute two or more cross-tabulations: y by
treatment, and age by treatment.

In [3]:
describe

Contains data from ..\input_data\CPS Data for Minimum Wages, 1985-1996.dta
  obs:       264,000                          CPS Basic Monthly Files with ORG Questions, Civilians Ages 15+, 1976-2018
 vars:             7                          31 Jan 2019 15:44
 size:     3,960,000
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
              storage   display    value
variable name   type    format     label      variable label
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
y               int     %9.0g                 minimum-wage year
state           byte    %71.0g     state      state (census code)
age             byte    %8.0g                 age
grade           byte    %9.0g                 highest grade completed
employed        byte    %9.0g                 whether employed
treatment       byte    %9.0g                 1 = ages 15-17
pweight         double  %12.0g                final basic weight
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Sorted by:

In [4]:
sum

    Variable |        Obs        Mean    Std. Dev.       Min        Max
-------------+---------------------------------------------------------
           y |    264,000        1990    3.162284       1985       1995
       state |    264,000    53.33822    20.34394         21         88
         age |    264,000    27.72137    13.50689         15         59
       grade |    132,000    13.73956    2.169027         12         19
    employed |    264,000    .4858864    .4998017          0          1
-------------+---------------------------------------------------------
   treatment |    264,000          .5    .5000009          0          1
     pweight |    264,000     1742.25    887.3657    36.9305   14570.57

In [5]:
sum [aweight = pweight]

    Variable |     Obs      Weight        Mean   Std. Dev.       Min        Max
-------------+-----------------------------------------------------------------
           y | 264,000   459953912    1990.211   3.175089       1985       1995
       state | 264,000   459953912    52.13347   19.61022         21         88
         age | 264,000   459953912    27.73459   13.42176         15         59
       grade | 132,000   232325692    13.74793    2.17027         12         19
    employed | 264,000   459953912    .4852559   .4997835          0          1
-------------+-----------------------------------------------------------------
   treatment | 264,000   459953912    .4948935   .4999749          0          1
     pweight | 264,000   459953912    2194.203   1039.841    36.9305   14570.57

In [6]:
tab state

                    state (census code) |      Freq.     Percent        Cum.
----------------------------------------+-----------------------------------
                               new york |     26,915       10.20       10.20
                                   ohio |     18,389        6.97       17.16
                                indiana |      5,205        1.97       19.13
                               illinois |     17,199        6.51       25.65
                               michigan |     18,072        6.85       32.49
                               missouri |      4,844        1.83       34.33
                           south dakota |      6,150        2.33       36.66
                               nebraska |      5,419        2.05       38.71
                                 kansas |      5,112        1.94       40.65
                               delaware |      3,723        1.41       42.06
                               maryland |      4,534        1.72       43.77
                               virginia |      6,433        2.44       46.21
                          west virginia |      4,837        1.83       48.04
                         north carolina |     16,017        6.07       54.11
                         south carolina |      5,510        2.09       56.20
                                georgia |      5,117        1.94       58.13
                                florida |     16,735        6.34       64.47
                               kentucky |      4,743        1.80       66.27
                              tennessee |      4,839        1.83       68.10
                                alabama |      5,017        1.90       70.00
                            mississippi |      5,712        2.16       72.17
                               arkansas |      5,150        1.95       74.12
                              louisiana |      4,548        1.72       75.84
                               oklahoma |      5,287        2.00       77.84
                                  texas |     18,913        7.16       85.01
                                montana |      5,873        2.22       87.23
                                  idaho |      5,603        2.12       89.35
                                wyoming |      4,188        1.59       90.94
                               colorado |      4,718        1.79       92.73
                             new mexico |      5,131        1.94       94.67
                                arizona |      4,205        1.59       96.26
                                   utah |      5,666        2.15       98.41
                                 nevada |      4,196        1.59      100.00
----------------------------------------+-----------------------------------
                                  Total |    264,000      100.00

In [7]:
tab grade

    highest |
      grade |
  completed |      Freq.     Percent        Cum.
------------+-----------------------------------
         12 |     62,155       47.09       47.09
         13 |     17,568       13.31       60.40
         14 |     13,531       10.25       70.65
         15 |      3,207        2.43       73.08
         16 |     22,119       16.76       89.83
         18 |      7,045        5.34       95.17
         19 |      6,375        4.83      100.00
------------+-----------------------------------
      Total |    132,000      100.00

In [8]:
tab employed

    whether |
   employed |      Freq.     Percent        Cum.
------------+-----------------------------------
          0 |    135,726       51.41       51.41
          1 |    128,274       48.59      100.00
------------+-----------------------------------
      Total |    264,000      100.00

In [9]:
tab treatment

   1 = ages |
      15-17 |      Freq.     Percent        Cum.
------------+-----------------------------------
          0 |    132,000       50.00       50.00
          1 |    132,000       50.00      100.00
------------+-----------------------------------
      Total |    264,000      100.00

#### Cross tabs

In [10]:
tab y treatment

minimum-wa |    1 = ages 15-17
   ge year |         0          1 |     Total
-----------+----------------------+----------
      1985 |    12,000     12,000 |    24,000
      1986 |    12,000     12,000 |    24,000
      1987 |    12,000     12,000 |    24,000
      1988 |    12,000     12,000 |    24,000
      1989 |    12,000     12,000 |    24,000
      1990 |    12,000     12,000 |    24,000
      1991 |    12,000     12,000 |    24,000
      1992 |    12,000     12,000 |    24,000
      1993 |    12,000     12,000 |    24,000
      1994 |    12,000     12,000 |    24,000
      1995 |    12,000     12,000 |    24,000
-----------+----------------------+----------
     Total |   132,000    132,000 |   264,000

In [11]:
tab age treatment

           |    1 = ages 15-17
       age |         0          1 |     Total
-----------+----------------------+----------
        15 |         0     44,218 |    44,218
        16 |         0     44,305 |    44,305
        17 |         0     43,477 |    43,477
        25 |     4,446          0 |     4,446
        26 |     4,441          0 |     4,441
        27 |     4,539          0 |     4,539
        28 |     4,652          0 |     4,652
        29 |     4,920          0 |     4,920
        30 |     4,923          0 |     4,923
        31 |     4,914          0 |     4,914
        32 |     5,018          0 |     5,018
        33 |     5,022          0 |     5,022
        34 |     4,850          0 |     4,850
        35 |     5,010          0 |     5,010
        36 |     4,651          0 |     4,651
        37 |     4,624          0 |     4,624
        38 |     4,678          0 |     4,678
        39 |     4,593          0 |     4,593
        40 |     4,513          0 |     4,513
        41 |     4,162          0 |     4,162
        42 |     4,005          0 |     4,005
        43 |     3,907          0 |     3,907
        44 |     3,722          0 |     3,722
        45 |     3,617          0 |     3,617
        46 |     3,410          0 |     3,410
        47 |     3,361          0 |     3,361
        48 |     3,142          0 |     3,142
        49 |     2,785          0 |     2,785
        50 |     2,861          0 |     2,861
        51 |     2,607          0 |     2,607
        52 |     2,591          0 |     2,591
        53 |     2,496          0 |     2,496
        54 |     2,429          0 |     2,429
        55 |     2,268          0 |     2,268
        56 |     2,257          0 |     2,257
        57 |     2,319          0 |     2,319
        58 |     2,188          0 |     2,188
        59 |     2,079          0 |     2,079
-----------+----------------------+----------
     Total |   132,000    132,000 |   264,000

In [12]:
tab grade treatment,m

   highest |
     grade |    1 = ages 15-17
 completed |         0          1 |     Total
-----------+----------------------+----------
        12 |    62,155          0 |    62,155
        13 |    17,568          0 |    17,568
        14 |    13,531          0 |    13,531
        15 |     3,207          0 |     3,207
        16 |    22,119          0 |    22,119
        18 |     7,045          0 |     7,045
        19 |     6,375          0 |     6,375
         . |         0    132,000 |   132,000
-----------+----------------------+----------
     Total |   132,000    132,000 |   264,000

### Collapse the Data to Annual Averages by treatment
Weight the averages by pweight.
Organize the data set of annual averages so that you have 11 annual observations with one
employment-rate variable for teens and another employment-rate variable for the control
group. List the data and note how the two employment rates change from minimum-wage
years 1989 to 1990.

In [13]:
gen employed_treat = employed if treatment == 1
gen employed_contr = employed if treatment == 0
gen min_wage_event = (y == 1990 | y == 1991)

(132,000 missing values generated)

(132,000 missing values generated)

In [14]:
collapse (mean) *_treat *_contr min_wage_event [aweight = pweight], by(y)

In [15]:
list

     +---------------------------------------+
     |    y   employ~t   employ~r   min_wa~t |
     |---------------------------------------|
  1. | 1985   .2558151   .6984654          0 |
  2. | 1986   .2685669   .7031918          0 |
  3. | 1987    .277887   .7066553          0 |
  4. | 1988   .2761755   .7080536          0 |
  5. | 1989   .2866358   .7201802          0 |
     |---------------------------------------|
  6. | 1990   .2531398   .7151867          1 |
  7. | 1991   .2290563   .7023749          1 |
  8. | 1992   .2260761   .7111657          0 |
  9. | 1993   .2342557   .7139348          0 |
 10. | 1994   .2496179    .716226          0 |
     |---------------------------------------|
 11. | 1995   .2544753   .7204854          0 |
     +---------------------------------------+

### Analyze the Annual Averages

Regress the employment rate of teens on the employment
rate of the control group with one or more dummy variables identifying the two minimumwage
events. Use the vce{robust} option to generate heteroscedastic-robust standard
errors. Are the employment effects statistically significant? Do they grow or shrink in the
wake of the hikes? Are the estimates sensitive to including a linear time trend?

In [16]:
regress employed_treat employed_contr min_wage_event, robust

Linear regression                               Number of obs     =         11
                                                F(2, 8)           =       1.11
                                                Prob > F          =     0.3767
                                                R-squared         =     0.1270
                                                Root MSE          =     .02122

--------------------------------------------------------------------------------
               |               Robust
employed_treat |      Coef.   Std. Err.      t    P>|t|     [95% Conf. Interval]
---------------+----------------------------------------------------------------
employed_contr |   .1308949   .6858653     0.19   0.853    -1.450713    1.712503
min_wage_event |  -.0174547   .0117472    -1.49   0.176    -.0445437    .0096343
         _cons |    .165777    .485157     0.34   0.741    -.9529972    1.284551
--------------------------------------------------------------------------------

It appears that the minimum wage event is not significant.

In [17]:
regress employed_treat employed_contr i.y, robust

note: 1995.y omitted because of collinearity

Linear regression                               Number of obs     =         11
                                                F(0, 0)           =          .
                                                Prob > F          =          .
                                                R-squared         =     1.0000
                                                Root MSE          =          0

--------------------------------------------------------------------------------
               |               Robust
employed_treat |      Coef.   Std. Err.      t    P>|t|     [95% Conf. Interval]
---------------+----------------------------------------------------------------
employed_contr |  -.0608417          .        .       .            .           .
               |
             y |
         1986  |   .0130394          .        .       .            .           .
         1987  |   .0225702          .        .       .            .           .
         1988  |   .0209438          .        .       .            .           .
         1989  |   .0321419          .        .       .            .           .
         1990  |  -.0016579          .        .       .            .           .
         1991  |  -.0265209          .        .       .            .           .
         1992  |  -.0289662          .        .       .            .           .
         1993  |  -.0206182          .        .       .            .           .
         1994  |  -.0051166          .        .       .            .           .
         1995  |          0  (omitted)
               |
         _cons |   .2983109          .        .       .            .           .
--------------------------------------------------------------------------------

### Collapse the Original Data into a Panel of State-Year Averages by treatment
This
collapse is by(treatment state y). Be sure sure to write the raw sum of the weights
(separately for treatment and control) to the collapsed data set. Reshape the data set so
that you have 11 annual observations for each state, and each observation includes the
employment rates (and weights) for teens and the control group.

In [18]:
use "..\input_data\CPS Data for Minimum Wages, 1985-1996.dta",clear

(CPS Basic Monthly Files with ORG Questions, Civilians Ages 15+, 1976-2018)

In [19]:
gen pweight2 = 1
gen employed_treat = employed if treatment == 1
gen employed_contr = employed if treatment == 0

(132,000 missing values generated)

(132,000 missing values generated)

In [20]:
collapse (mean) *_treat *_contr (sum) pweight2 [aweight = pweight], by(treatment state y)

In [23]:
%help reshape

This front-end cannot display HTML help.

### Collapse the Original Data into a Panel of State-Year Averages by treatment. 
This collapse is by(treatment state y). Be sure sure to write the raw sum of the weights
(separately for treatment and control) to the collapsed data set. Reshape the data set so
that you have 11 annual observations for each state, and each observation includes the
employment rates (and weights) for teens and the control group.

### Analyze the State-Year Averages. 
Regress the employment rate of teens on the employment
rate of the control group with dummy variables to indicate minimum-wage year
1990, minimum-wage year 1991, and minimum-wage years 1992–1995; include state
effects. Use the vce{cluster state} option to generate cluster-robust standard errors.
(The standard errors allow for arbitrary cross-year correlations with each state.) Are
the employment effects of the minimum wage statistically significant? Do they grow
or shrink in the wake of the hikes? Are the estimates sensitive to including linear and
quadratic time trends? If you’re particularly ambitious, replace the common time trend
with state-specific trends.