In [3]:
/****************************************************************************
* File name: empirical_exercise3.do
* Author(s): Sze, J.
* Date: 2/21/2019
* Description: 
* Answers to empirical exercise 3 for Labor Economics
*
* Inputs: 
* ..\input_data\Small CPS, 1976-2018.dta" 
* 
* Outputs:
* 
***************************************************************************/

## Empirical Exercise 3
This week’s exercise uses the Small CPS, 1976-2018.dta file, an extract of the basic monthly
CPS files since 1976. The extract contains samples of the civilian, working-age population: everyone
age 16 and older who is not in the military. In addition, the extract randomly draws 1,000
observations per year, so the data set contains 43,000 observations.

In [1]:
use "..\input_data\Small CPS, 1976-2018.dta", clear

(1000 Obs./Year Extract of the Basic Monthly CPS Files, 1976-2018)

## A. Explore the Data. 
Get a sense of the data by (a) describing the data set, (b) listing 5–10
observations (perhaps 8–10 variables at a time) without and with labels, (c) summarizing
the data without and with the weighting variable pweight, and (d) tabulating (without
weights) the categorical variables. Also, compute cross-tabulations of key categorical
variables (e.g., sex, race, empstat, month) by year.

In [2]:
describe

Contains data from ..\input_data\Small CPS, 1976-2018.dta
  obs:        43,000                          1000 Obs./Year Extract of the Basic Monthly CPS Files, 1976-2018
 vars:            18                          22 Jan 2019 18:46
 size:     1,419,000
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
              storage   display    value
variable name   type    format     label      variable label
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
idcode          float   %9.0g               * id code
pweight         double  %12.0g                final basic weight
year            int     %8.0g                 survey year
month           byte    %9.0g      month      month
age             byte    %8.0g                 age
female          byte    %9.0g      female     whether remale
race            byte    %17.0g     race       race
hispanic        byte    %14.0g     hispanic   hispanic origin
married         byte    %23.0g     married    married with spouse present
veteran         byte    %10.0g     veteran    veteran status
region          byte    %18.0g     region     census division, 1-9
state           byte    %71.0g     state      state (census code)
metro           byte    %27.0g     metro      metropolitan central city status
size            byte    %33.0g     size       size of metro area
grade           float   %9.0g               * highest grade completed
empstat         byte    %12.0g     empstat    employment status
class           byte    %20.0g     class      employment class: self, private, public
hours           int     %8.0g                 hours worked last week
                                            * indicated variables have notes
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Sorted by: year  month

In [6]:
list age female race in 1/5

list age female race in 1/5,nolabel

     +----------------------+
     | age   female    race |
     |----------------------|
  1. |  17      Man   White |
  2. |  54      Man   White |
  3. |  17    Woman   White |
  4. |  75      Man   Black |
  5. |  47      Man   White |
     +----------------------+


     +---------------------+
     | age   female   race |
     |---------------------|
  1. |  17        0      1 |
  2. |  54        0      1 |
  3. |  17        1      1 |
  4. |  75        0      2 |
  5. |  47        0      1 |
     +---------------------+

In [7]:
sum age female hispanic married

    Variable |        Obs        Mean    Std. Dev.       Min        Max
-------------+---------------------------------------------------------
         age |     43,000    44.29812    18.47795         16         97
      female |     43,000    .5333721    .4988909          0          1
    hispanic |     42,543     .116917    .4123765          0          2
     married |     43,000     .558907    .4965236          0          1

In [8]:
sum age female hispanic married [aweight = pweight]

    Variable |     Obs      Weight        Mean   Std. Dev.       Min        Max
-------------+-----------------------------------------------------------------
         age |  43,000  84456884.1    43.81324   18.39005         16         97
      female |  43,000  84456884.1    .5261701   .4993205          0          1
    hispanic |  42,543  83640801.3    .1522935   .4605924          0          2
     married |  43,000  84456884.1    .5427356   .4981761          0          1

In [10]:
tab1 race region metro

-> tabulation of race

             race |      Freq.     Percent        Cum.
------------------+-----------------------------------
            White |     36,527       84.95       84.95
            Black |      4,199        9.77       94.71
           Indian |        322        0.75       95.46
Asian/PacIslander |      1,272        2.96       98.42
            Other |        680        1.58      100.00
------------------+-----------------------------------
            Total |     43,000      100.00

-> tabulation of region

  census division, |
               1-9 |      Freq.     Percent        Cum.
-------------------+-----------------------------------
       New England |      3,835        8.92        8.92
   Middle Atlantic |      5,410       12.58       21.50
East North Central |      5,905       13.73       35.23
West North Central |      4,323       10.05       45.29
    South Atlantic |      7,315       17.01       62.30
East South Central |      2,297        5.34       67.64
West South Central |      3,814        8.87       76.51
          Mountain |      4,381       10.19       86.70
           Pacific |      5,720       13.30      100.00
-------------------+-----------------------------------
             Total |     43,000      100.00

-> tabulation of metro

  metropolitan central city |
                     status |      Freq.     Percent        Cum.
----------------------------+-----------------------------------
          not in metro area |     10,167       26.65       26.65
               central city |      9,289       24.35       50.99
       outside central city |     14,572       38.19       89.19
central city status unknown |      3,568        9.35       98.54
            missing/unknown |        558        1.46      100.00
----------------------------+-----------------------------------
                      Total |     38,154      100.00

In [12]:
tab year female

    survey |    whether remale
      year |       Man      Woman |     Total
-----------+----------------------+----------
      1976 |       474        526 |     1,000
      1977 |       457        543 |     1,000
      1978 |       440        560 |     1,000
      1979 |       458        542 |     1,000
      1980 |       441        559 |     1,000
      1981 |       471        529 |     1,000
      1982 |       476        524 |     1,000
      1983 |       461        539 |     1,000
      1984 |       488        512 |     1,000
      1985 |       457        543 |     1,000
      1986 |       480        520 |     1,000
      1987 |       482        518 |     1,000
      1988 |       439        561 |     1,000
      1989 |       444        556 |     1,000
      1990 |       457        543 |     1,000
      1991 |       457        543 |     1,000
      1992 |       484        516 |     1,000
      1993 |       473        527 |     1,000
      1994 |       477        523 |     1,000
      1995 |       477        523 |     1,000
      1996 |       467        533 |     1,000
      1997 |       453        547 |     1,000
      1998 |       445        555 |     1,000
      1999 |       474        526 |     1,000
      2000 |       441        559 |     1,000
      2001 |       463        537 |     1,000
      2002 |       495        505 |     1,000
      2003 |       440        560 |     1,000
      2004 |       494        506 |     1,000
      2005 |       475        525 |     1,000
      2006 |       478        522 |     1,000
      2007 |       500        500 |     1,000
      2008 |       459        541 |     1,000
      2009 |       488        512 |     1,000
      2010 |       454        546 |     1,000
      2011 |       476        524 |     1,000
      2012 |       478        522 |     1,000
      2013 |       450        550 |     1,000
      2014 |       499        501 |     1,000
      2015 |       452        548 |     1,000
      2016 |       464        536 |     1,000
      2017 |       467        533 |     1,000
      2018 |       460        540 |     1,000
-----------+----------------------+----------
     Total |    20,065     22,935 |    43,000

In [13]:
tab year race

    survey |                          race
      year |     White      Black     Indian  Asian/Pac      Other |     Total
-----------+-------------------------------------------------------+----------
      1976 |       894         93          0          0         13 |     1,000
      1977 |       877        108          0          0         15 |     1,000
      1978 |       873         99          0          0         28 |     1,000
      1979 |       892         86          0          0         22 |     1,000
      1980 |       880         83          0          0         37 |     1,000
      1981 |       879         85          0          0         36 |     1,000
      1982 |       892         74          0          0         34 |     1,000
      1983 |       886         84          0          0         30 |     1,000
      1984 |       867        100          0          0         33 |     1,000
      1985 |       884         89          0          0         27 |     1,000
      1986 |       865        107          0          0         28 |     1,000
      1987 |       855        108          0          0         37 |     1,000
      1988 |       871         93          0          0         36 |     1,000
      1989 |       870         91         11         25          3 |     1,000
      1990 |       872         89          6         30          3 |     1,000
      1991 |       865         94          9         30          2 |     1,000
      1992 |       858        101         11         28          2 |     1,000
      1993 |       857        106          5         27          5 |     1,000
      1994 |       867         92          9         21         11 |     1,000
      1995 |       827        110          9         38         16 |     1,000
      1996 |       844        115         12         29          0 |     1,000
      1997 |       843        111         13         33          0 |     1,000
      1998 |       859         96         10         35          0 |     1,000
      1999 |       844         99          7         50          0 |     1,000
      2000 |       853         96          8         43          0 |     1,000
      2001 |       853         82         13         52          0 |     1,000
      2002 |       839         99         14         48          0 |     1,000
      2003 |       827        103          7         42         21 |     1,000
      2004 |       844         88         10         40         18 |     1,000
      2005 |       847         94         10         33         16 |     1,000
      2006 |       847         85          6         45         17 |     1,000
      2007 |       838         96          8         41         17 |     1,000
      2008 |       828         92         11         56         13 |     1,000
      2009 |       841         88         16         39         16 |     1,000
      2010 |       821        114         18         36         11 |     1,000
      2011 |       804        107         13         60         16 |     1,000
      2012 |       819        116          9         46         10 |     1,000
      2013 |       822        100         13         49         16 |     1,000
      2014 |       799        100         13         70         18 |     1,000
      2015 |       808        115         15         47         15 |     1,000
      2016 |       789        112         18         54         27 |     1,000
      2017 |       834         90          8         54         14 |     1,000
      2018 |       793        109         10         71         17 |     1,000
-----------+-------------------------------------------------------+----------
     Total |    36,527      4,199        322      1,272        680 |    43,000

In [14]:
tab year empstat

    survey |        employment status
      year |  Employed  Unemploye       NILF |     Total
-----------+---------------------------------+----------
      1976 |       549         38        413 |     1,000
      1977 |       591         37        372 |     1,000
      1978 |       588         30        382 |     1,000
      1979 |       585         38        377 |     1,000
      1980 |       580         38        382 |     1,000
      1981 |       575         47        378 |     1,000
      1982 |       553         56        391 |     1,000
      1983 |       556         63        381 |     1,000
      1984 |       649         38        313 |     1,000
      1985 |       581         43        376 |     1,000
      1986 |       589         44        367 |     1,000
      1987 |       602         50        348 |     1,000
      1988 |       625         40        335 |     1,000
      1989 |       618         31        351 |     1,000
      1990 |       614         23        363 |     1,000
      1991 |       623         51        326 |     1,000
      1992 |       627         42        331 |     1,000
      1993 |       551         52        397 |     1,000
      1994 |       632         38        330 |     1,000
      1995 |       642         42        316 |     1,000
      1996 |       629         49        322 |     1,000
      1997 |       631         32        337 |     1,000
      1998 |       628         43        329 |     1,000
      1999 |       634         23        343 |     1,000
      2000 |       631         25        344 |     1,000
      2001 |       625         33        342 |     1,000
      2002 |       622         40        338 |     1,000
      2003 |       663         32        305 |     1,000
      2004 |       638         32        330 |     1,000
      2005 |       650         33        317 |     1,000
      2006 |       630         35        335 |     1,000
      2007 |       649         20        331 |     1,000
      2008 |       644         30        326 |     1,000
      2009 |       612         64        324 |     1,000
      2010 |       584         59        357 |     1,000
      2011 |       600         46        354 |     1,000
      2012 |       583         55        362 |     1,000
      2013 |       568         39        393 |     1,000
      2014 |       600         47        353 |     1,000
      2015 |       577         34        389 |     1,000
      2016 |       601         33        366 |     1,000
      2017 |       618         19        363 |     1,000
      2018 |       606         22        372 |     1,000
-----------+---------------------------------+----------
     Total |    26,153      1,686     15,161 |    43,000

## B. Examine the Weights. 
The weighting variable pweight applies to all observations in the
basic monthly survey. For a particular worker, what does the value of pweight represent?
Compute and interpret the sum of the weights by year.

In [ ]:
// The weights for each observation represents the number of individuals that this observation represent.

In [16]:
preserve
collapse (rawsum) pweight, by(year)
list
restore

     +--------------------+
     | year       pweight |
     |--------------------|
  1. | 1976    1665567.96 |
  2. | 1977    1513499.28 |
  3. | 1978    1426584.03 |
  4. | 1979    1488270.75 |
  5. | 1980    1310384.15 |
     |--------------------|
  6. | 1981    1380000.92 |
  7. | 1982    1460993.78 |
  8. | 1983    1491342.41 |
  9. | 1984    1505821.25 |
 10. | 1985    1529755.25 |
     |--------------------|
 11. | 1986    1584462.74 |
 12. | 1987    1658003.86 |
 13. | 1988    1788706.12 |
 14. | 1989     1720098.1 |
 15. | 1990    1691152.65 |
     |--------------------|
 16. | 1991    1703017.38 |
 17. | 1992    1727239.72 |
 18. | 1993    1857285.93 |
 19. | 1994   1827839.478 |
 20. | 1995   1909959.525 |
     |--------------------|
 21. | 1996   2227137.753 |
 22. | 1997   2226302.725 |
 23. | 1998   2207626.277 |
 24. | 1999   2215212.729 |
 25. | 2000   2283764.063 |
     |--------------------|
 26. | 2001    2081102.49 |
 27. | 2002   2014057.725 |
 28. | 2003   2046133.283 |
 29. | 2004   2092209.447 |
 30. | 2005   2172420.536 |
     |--------------------|
 31. | 2006   2131101.043 |
 32. | 2007    2172868.35 |
 33. | 2008   2232891.279 |
 34. | 2009   2233364.029 |
 35. | 2010   2217716.235 |
     |--------------------|
 36. | 2011   2308916.853 |
 37. | 2012   2348662.557 |
 38. | 2013   2392974.446 |
 39. | 2014   2431208.673 |
 40. | 2015   2416397.609 |
     |--------------------|
 41. | 2016   2521404.372 |
 42. | 2017   2563604.155 |
 43. | 2018   2679822.209 |
     +--------------------+

## C. Collapse the Data to Annual Averages. 
Weight the averages by pweight. Compute the
weighted mean of (a) continuous and binary variables (e.g., age, hours, and female) and
(b) dummy variables that you generate from categorical variables (e.g., black and asian
from race). Your data set of annual averages should also include a weighting variable that
equals the sum of each year’s weights.

In [19]:
tab race
tab race, gen(race_)

             race |      Freq.     Percent        Cum.
------------------+-----------------------------------
            White |     36,527       84.95       84.95
            Black |      4,199        9.77       94.71
           Indian |        322        0.75       95.46
Asian/PacIslander |      1,272        2.96       98.42
            Other |        680        1.58      100.00
------------------+-----------------------------------
            Total |     43,000      100.00


             race |      Freq.     Percent        Cum.
------------------+-----------------------------------
            White |     36,527       84.95       84.95
            Black |      4,199        9.77       94.71
           Indian |        322        0.75       95.46
Asian/PacIslander |      1,272        2.96       98.42
            Other |        680        1.58      100.00
------------------+-----------------------------------
            Total |     43,000      100.00

In [21]:
des race_*

              storage   display    value
variable name   type    format     label      variable label
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
race_1          byte    %8.0g                 White
race_2          byte    %8.0g                 race==Black
race_3          byte    %8.0g                 race==Indian
race_4          byte    %8.0g                 race==Asian/PacIslander
race_5          byte    %8.0g                 race==Other

In [26]:
tab hispanic
tab hispanic,nolabel
recode hispanic (2=1)
label define hispanic_ 0 "Not Hispanic" 1 "Hispanic:Mexican/other"
label values hispanic hispanic_

      hispanic |
        origin |      Freq.     Percent        Cum.
---------------+-----------------------------------
  Not Hispanic |     38,990       91.65       91.65
       Mexican |      2,132        5.01       96.66
Other Hispanic |      1,421        3.34      100.00
---------------+-----------------------------------
         Total |     42,543      100.00


   hispanic |
     origin |      Freq.     Percent        Cum.
------------+-----------------------------------
          0 |     38,990       91.65       91.65
          1 |      2,132        5.01       96.66
          2 |      1,421        3.34      100.00
------------+-----------------------------------
      Total |     42,543      100.00

(hispanic: 1421 changes made)

In [34]:
tab empstat
tab empstat, nolabel
*NILF : not in the labor force 

gen employed = (empstat == 2)

  employment |
      status |      Freq.     Percent        Cum.
-------------+-----------------------------------
    Employed |     26,153       60.82       60.82
  Unemployed |      1,686        3.92       64.74
        NILF |     15,161       35.26      100.00
-------------+-----------------------------------
       Total |     43,000      100.00


 employment |
     status |      Freq.     Percent        Cum.
------------+-----------------------------------
          2 |     26,153       60.82       60.82
          3 |      1,686        3.92       64.74
          4 |     15,161       35.26      100.00
------------+-----------------------------------
      Total |     43,000      100.00

In [23]:
sum

    Variable |        Obs        Mean    Std. Dev.       Min        Max
-------------+---------------------------------------------------------
      idcode |     43,000     21500.5    12413.18          1      43000
     pweight |     43,000    1964.114    1096.003    53.1484   12018.34
        year |     43,000        1997    12.40982       1976       2018
       month |     43,000     6.49314    3.441774          1         12
         age |     43,000    44.29812    18.47795         16         97
-------------+---------------------------------------------------------
      female |     43,000    .5333721    .4988909          0          1
        race |     43,000    1.264628    .7595038          1          5
    hispanic |     42,543     .116917    .4123765          0          2
     married |     43,000     .558907    .4965236          0          1
     veteran |     29,752     .108665    .3112236          0          1
-------------+---------------------------------------------------------
      region |     43,000    4.959186    2.580923          1          9
       state |     43,000    53.17595    26.13426         11         99
       metro |     38,154    2.404859    1.255075          1          9
        size |     28,576    2.857818    2.289474          0          6
       grade |     43,000    12.63599    3.005864          0         19
-------------+---------------------------------------------------------
     empstat |     43,000    2.744372    .9462906          2          4
       class |     28,455    2.046213    .5206845          1          4
       hours |     17,776    38.86594    13.74088          1        152
      race_1 |     43,000    .8494651    .3575991          0          1
      race_2 |     43,000    .0976512    .2968459          0          1
-------------+---------------------------------------------------------
      race_3 |     43,000    .0074884    .0862118          0          1
      race_4 |     43,000    .0295814    .1694314          0          1
      race_5 |     43,000     .015814    .1247567          0          1

In [38]:
tab class empstat,m

   employment class: |
      self, private, |        employment status
              public |  Employed  Unemploye       NILF |     Total
---------------------+---------------------------------+----------
       Self Employed |     3,004         73         60 |     3,137
    Private Employer |    19,063      1,303        593 |    20,959
          Government |     4,014        139        113 |     4,266
Unpaid Family Worker |        72          2         19 |        93
                   . |         0        169     14,376 |    14,545
---------------------+---------------------------------+----------
               Total |    26,153      1,686     15,161 |    43,000

In [39]:
codebook class empstat

---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
class                                                                                                                                                                                                                   employment class: self, private, public
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

                  type:  numeric (byte)
                 label:  class

                 range:  [1,4]                        units:  1
         unique values:  4                        missing .:  14,545/43,000

            tabulation:  Freq.   Numeric  Label
                         3,137         1  Self Employed
                        20,959         2  Private Employer
                         4,266         3  Government
                            93         4  Unpaid Family Worker
                        14,545         .

---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
empstat                                                                                                                                                                                                                                       employment status
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

                  type:  numeric (byte)
                 label:  empstat

                 range:  [2,4]                        units:  1
         unique values:  3                        missing .:  0/43,000

            tabulation:  Freq.   Numeric  Label
                        26,153         2  Employed
                         1,686         3  Unemployed
                        15,161         4  NILF

In [40]:
global continous_var age hours grade
global binary_var female race_* hispanic married veteran employed
gen pweight2 = 1
collapse (mean) $continous_var $binary_var (rawsum) pweight2 [pweight = pweight] , by(year)

## D. Analyze the Annual Averages. 
Plot (a) participation and employment rates since 1976 in
one graph and average hours in another graph; (b) plot the participation and employment
rates by sex in one graph and average hours by sex in another graph; (c) plot the employment
rate by race in one graph and average hours by race in another graph; and (d)
plot the employment rate by a schooling variable in one graph and average hours by the
same schooling variable in another graph. The schooling variable classifies workers into
three groups: high school graduate, college graduate, and graduate school; you can drop
observations with grade<12 or 12<grade<16.